#VITE_API_BASE_URL=http://localhost:8080
#VITE_GOOGLE_LOGIN_URL=http://localhost:8080/api/auth/google

VITE_API_BASE_URL = https://api.msp-overlay.store
VITE_GOOGLE_LOGIN_URL = https://api.msp-overlay.store/api/auth/google
VITE_ENABLE_DEV_AUTH_BYPASS = false
